    <!--datepicker start-->
    <link rel="stylesheet" href="{{ asset('assets/css/wzl/green/gui.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/wzl/styles.css') }}" />
    <script src="{{ asset('assets/js/wzl/jquery-1.7.2.min.js') }}"></script>
    <!--时间-->
    <script type="text/javascript" src="{{ asset('assets/My97DatePicker/WdatePicker.js') }}"></script>
    <style type="text/css">
     .yes{float: left;width:32px;height:28px;cursor:pointer;border-bottom-left-radius:4px;border-top-left-radius:4px;border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb;border-left:1px solid #cbcbcb;}
     .no{float: left;width:32px;height:28px;cursor:pointer;border-bottom-right-radius:4px;border-top-right-radius:4px;border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb;border-right:1px solid #cbcbcb;}
    .yes:hover{background-color:#66dd66}
    .no:hover{background-color:#666666}
    </style>
    <script type="text/javascript">
        function searchAll(){
            $('#page').val(1);
            var myForm = document.getElementById('searchForm');
            myForm.action = '{{ path('AdminBundle_Course_live') }}';
            myForm.submit();
        }
        function liveDele(id){
            if (confirm("真的要删除吗？")){
                $.post('{{ path('AdminBundle_Course_liveDelete') }}',{'id':id},function(data){
                    if( data != 'ok'){
                        alert('删除失败！');
                        return false;
                    }else{
                        alert('删除成功！');
                        window.location.reload();
                    }
                });
            }else{
                return false;
            }
        }
        function liveCourseAdd(){
            location.href = '{{ path('AdminBundle_Live_add') }}';
        }
        function teacherAdd(){
            window.location.href = "{{ path('AdminBundle_User_teacherAddPage') }}";
        }
        function teacherEdit(id){
            window.location.href =  "{{ path('AdminBundle_User_teacherUpdatePage') }}?id="+id;
        }
        function checkAll(){
            var checkid   = document.getElementById("checkAll");
            var checkname = document.getElementsByName('ck');
            if (checkid.checked)
            {
                for(var i = 0; i < checkname.length; i++)
                    checkname[i].checked = true;
            }else{
                for(var i = 0; i < checkname.length; i++)
                    checkname[i].checked = false;
            }
        }
        function removeAll()
        {
            var ary='';
            var Ids=document.getElementsByName('ck');
            for(var s=0;s<Ids.length;s++)
            {
                if(Ids[s].checked)
                {
                    ary+=Ids[s].value+',';
                }
            }
            if(ary.length<=0)
            {
                alert('请选择至少一条数据')
                return false;
            }else{
                $.post('{{path('AdminBundle_Course_liveRemove')}}',{'Ids' : encodeURIComponent(ary)},function (data){
                            if(data == 'no')
                            {
                                alert('删除发生错误！');
                            }else{
                                alert('删除成功！');
                                window.location.reload();
                            }
                        }
                );
            }
        };
        function clearAll(){
            if($('#condition').val() == ' '){
                $('#page').val('');
                $('#contents').val('');
                $('#condition').val('');
                $('#timeSelect').val('');
                $('#startTime').val('');
                $('#endTime').val('');
                $('#oneCategory').val('');
                $('#two_cid').val('');
                $('#vodStatus').val('');
                $('#courseLevel').val('');
                searchAll();
            }
        }
        function time_select(){
            var time = $('#timeSelect').val();
            if(time > 0){
                $('#startTime').css("background-color",'#ffffff');
                $('#endTime').css("background-color",'#ffffff')
                document.getElementById('startTime').disabled = false;
                document.getElementById('endTime').disabled   = false;
            }else{
                $('#startTime').val('');
                $('#endTime').val('');
                searchAll();
            }

        }
        function one_level_vod(){
            var first_cid = $('#oneCategory').val();
            $.post('{{path('AdminBundle_Course_categoryTwoVod')}}',{'first_cid' : first_cid},function (data){
                $('#two_cid').html(data);
                searchAll();
            });
        }
        function two_level_vod(){
            searchAll();
        }
        function course_level(){
            searchAll();
        }
        function live_Status(){
            searchAll();
        }

        function update_status(flag,id,_this){
            var _this = $(_this);
            $.post('{{path('AdminBundle_Course_updateLiveStatus')}}',{'id' : id, 'flag' : flag},function (data){
                if(data == 'ok'){
                    if(flag == 2){
                        var html ='<ul>'+
                                '<li class="yes" onclick="" style="color:#ffffff;background-color: #66dd66"> 是'+
                                '</li>'+
                                '<li  class="no" onclick="update_status(1,'+id+',this)">否'+
                                '</li>'+
                                '</ul>';
                        $(_this).parent().parent().html(html);
                    }else{
                        var html = '<ul>'+
                                '<li  class="yes" onclick="update_status(2,'+id+',this)">是'+
                                '</li>'+
                                '<li  class="no" onclick=""  style="color:#ffffff;background-color: #666666">否'+
                                '</li>'+
                                '</ul>';
                        $(_this).parent().parent().html(html);

                    }
                }else{
                    alert('审核失败');
                }
            });
        }
    </script>
    <div id="main_body">
        <ul class="main_top">
            <li class="main_top_left left">
                <strong>课程管理—直播管理</strong>
            </li>
            <li class="main_top_right right">
            </li>
        </ul>
        <div class="main_content_rightbg">
            <div class="main_content_leftbg">
                <form id="searchForm" action="" method="get" name="searchForm" onsubmit="return checkForm();">
                    <input type="hidden" id="page" name="page" value="{{ parameter.page }}">
                    <table  width="98%" border="0" align=center cellpadding="2" cellspacing="1" bgcolor="#FFFFFF" class="border">
                        <tr>
                            <td align=center>
                                <div style="text-align: center;width: 100%;height:70px;border: 1px solid #cbcbcb">
                                    <ul>
                                        <li style="float: left;width: 140px;text-align: left;">
                                            <p>时间段：</p>
                                            <select id="timeSelect" name="timeSelect" style="width: 120px;" onchange="time_select()">
                                                <option value=" " {% if(parameter.timeSelect == ' ') %}selected=selected{% endif %}>无</option>
                                                <option value="1" {% if(parameter.timeSelect == '1') %}selected=selected{% endif %}>直播时间</option>
                                                <option value="2" {% if(parameter.timeSelect == '1') %}selected=selected{% endif %}>发布时间</option>
                                            </select>
                                        </li>
                                        <li style="float: left;width: 200px;text-align: left;">
                                            <p>起始时间：</p>
                                            <input  type="text" id="startTime" name="startTime" style="width:186px;background-color: #EFEFEF" value="{{ parameter.startTime }}" readonly=readonly disabled="disabled"
                                                    onclick="WdatePicker({el:'startTime',maxDate:'#F{$dp.$D(\'endTime\')||\'2099-10-01\'}',minDate:'2012-01-01',dateFmt:'yyyy-MM-dd H:mm',skin:'whyGreen',lang:'zh-cn',isShowClear:false,alwaysUseStartDate:true,readOnly:false})"/>
                                        </li>
                                        <li style="float: left;width: 200px;text-align: left;">
                                            <p>终止时间：</p>
                                            <input  type="text" id="endTime" name="endTime" style="width:186px;background-color: #EFEFEF" value="{{ parameter.endTime }}" readonly=readonly disabled="disabled"
                                                    onclick="WdatePicker({el:'endTime',minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2099-10-01',dateFmt:'yyyy-MM-dd H:mm',skin:'whyGreen',lang:'zh-cn',isShowClear:false,alwaysUseStartDate:true,readOnly:false})"/>
                                        </li>
                                        <li style="float: left;width: 140px;text-align: left;">
                                            <p>一级类别：</p>
                                            <select id="oneCategory" name="oneCategory" style="width: 120px;" onchange="one_level_vod()">
                                                <option value=" " {% if(parameter.oneCategory == ' ') %}selected=selected{% endif %}>全部</option>
                                                {% if(cdata) %}
                                                    {% for c in cdata%}
                                                        <option value="{{ c.category_id }}" {% if(parameter.oneCategory == c.category_id) %}selected=selected{% endif %}>{{ c.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </li>
                                        <li style="float: left;width: 140px;text-align: left;">
                                            <p>二级类别：</p>
                                            <select id="two_cid" name="twocid" style="width: 120px;" onchange="two_level_vod()">
                                                <option value=" ">全部</option>
                                                {% if(twodata) %}
                                                    {% for two in twodata%}
                                                        <option value="{{ two.category_id }}" {% if(parameter.twocid == two .category_id) %}selected=selected{% endif %}>{{ two.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </li>
                                        <li style="float: left;width: 140px;text-align: left;">
                                            <p>课程级别：</p>
                                            <select id="courseLevel" name="courseLevel" style="width: 120px;" onchange="course_level()">
                                                <option value=" " {% if(parameter.courseLevel == ' ') %}selected=selected{% endif %}>全部</option>
                                                <option value="1" {% if(parameter.courseLevel == '1') %}selected=selected{% endif %}>初级</option>
                                                <option value="2" {% if(parameter.courseLevel == '2') %}selected=selected{% endif %}>中级</option>
                                                <option value="3" {% if(parameter.courseLevel == '3') %}selected=selected{% endif %}>高级</option>
                                            </select>
                                        </li>
                                        <li style="float: left;width: 140px;text-align: left;">
                                            <p>直播状态：</p>
                                            <select id="liveStatus" name="liveStatus" style="width: 120px;" onchange="live_Status()">
                                                <option value=" " {% if(parameter.liveStatus == ' ') %}selected=selected{% endif %}>全部(不包括删除)</option>
                                                <option value="1" {% if(parameter.liveStatus == '1') %}selected=selected{% endif %}>未开始</option>
                                                <option value="3" {% if(parameter.liveStatus == '3') %}selected=selected{% endif %}>已开始</option>
                                                <option value="6" {% if(parameter.liveStatus == '6') %}selected=selected{% endif %}>已结束</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <input type="button" onclick="liveCourseAdd()" value="添加" style="margin-right: 230px;">
                                <input id="contents" type="text" name="contents" class="contents" value="{{ parameter.contents }}" placeholder="请输入..">
                                <select name="condition" id="condition" style="width: 150px;margin-left: 5px;" onchange="clearAll()">
                                    <option value=" " {% if(parameter.condition == ' ') %}selected=selected{% endif %}>搜索范围(全部)</option>
                                    <option value="1" {% if(parameter.condition == '1') %}selected=selected{% endif %}>搜索ID</option>
                                    <option value="2" {% if(parameter.condition == '2') %}selected=selected{% endif %}>搜索名称</option>
                                    <option value="3" {% if(parameter.condition == '3') %}selected=selected{% endif %}>搜索老师</option>
                                </select>
                                <input type="button" onclick="searchAll()" value="搜索">
                                <span style="font-size: 11px;color: blue;">搜索到<span  style="color: #FF0000">{{ parameter.nums }}</span>条匹配结果！</span>
                            </td>
                        </tr>
                    </table>
                </form>
                <table width="98%" border="0" align=center cellpadding="2" cellspacing="1" bgcolor="#FFFFFF" class="border table_content">
                    <thead>
                    <th align="center" >
                        <input type='checkbox' id='checkAll' name='checkAll' onclick="checkAll()">
                    </th>
                    <th align="center">ID</th>
                    <th align="center">名称</th>
                    <th align="center">类别</th>
                    <th align="center">主讲</th>
                    <th align="center">现价（￥）</th>
                    <th align="center">直播时间</th>
                    <th align="center">级别</th>
                    <th align="center">预约人数</th>
                    <th align="center">时长</th>
                    <th align="center">直播状态</th>
                    <th align="center">审核显示</th>
                    <th align="center">操作</th>
                    </thead>
                    {% if(ldata) %}
                        {% for l in ldata %}
                            <tr>
                                <td align="center">
                                    <input type="checkbox" name='ck' value="{{l.id}}" />
                                </td>
                                <td align="center">
                                    {{ l.id}}
                                </td>
                                <td align="center" width="250px;">
                                    <a href="{{ path('PageBundle_live_detail',{'id': l.id}) }}" target="_blank">{{ l.title}}</a>
                                </td>
                                <td align="center">
                                    {{ l.cname }}
                                </td>
                                <td align="center">
                                    {{ l.iname }}
                                </td>
                                <td align="center">
                                    {{ l.current_price }}
                                </td>
                                <td align="center">
                                    {{ l.schedule_time }}
                                </td>
                                <td align="center">
                                    {% if(l.course_level == 1) %}
                                        初级
                                    {% elseif(l.course_level == 2) %}
                                        中级
                                    {% else %}
                                        高级
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {{ l.reserve_init+l.reserve_num }}
                                </td>
                                <td align="center">
                                    {{ l.duration }}
                                </td>
                                <td align="center">
                                    {% if(l.conferenceStatus == 1) %}
                                        未开始
                                    {% elseif(l.conferenceStatus == 3) %}
                                        已开始
                                    {% elseif l.conf_id is empty %}
                                        未创建
                                    {% else %}
                                        已结束
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <div  class="yn">
                                        <ul>
                                            {% if(l.status == 4) %}
                                            <li class="yes" onclick="" style="color:#ffffff;background-color: #66dd66">
                                                是
                                            </li>
                                            <li  class="no" onclick="update_status(1,{{ l.id }},this)">
                                                否
                                            </li>
                                            {% elseif(l.status == 2) %}
                                            <li  class="yes" onclick="update_status(2,{{ l.id }},this)">
                                                是
                                            </li>
                                            <li  class="no" onclick=""  style="color:#ffffff;background-color: #666666">
                                                否
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                                <td align="center">
                                    <a href="{{ path('AdminBundle_Live_add',{'id': l.id}) }}">编辑</a>|
                                    <a href="javascript:;" onclick="liveDele({{ l.id }})">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td align="center"><input type="button" class="delete" value="删除所选" onclick="removeAll()"></td>
                        <td colspan='12'></td>
                    </tr>
                    <tr>
                        <td id="page" colspan="12" style="text-align: center">
                            {{ pages | raw }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <ul class="main_end">
            <li class="main_end_left left"></li>
            <li class="main_end_right right"></li>
        </ul>
    </div>
