<link rel="stylesheet" href="{{ asset('assets/css/wzl/green/gui.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/css/wzl/styles.css') }}" />
<script src="{{ asset('assets/js/wzl/jquery-1.7.2.min.js') }}"></script>
<!--弹窗-->
<!--时间-->
<script type="text/javascript" src="{{ asset('assets/My97DatePicker/WdatePicker.js') }}"></script>
<script type="text/javascript">
    function searchAll(){
        $('#page').val(1);
        var myForm = document.getElementById('searchForm');
        myForm.action = '{{ path('AdminBundle_Billing_list') }}';
        myForm.submit();
    }

    function billingEdit(id){
        window.location.href =  "{{ path('AdminBundle_Billing_editPage') }}?id="+id;
    }

    function checkAll(){
        var checkid   = document.getElementById("checkAll");
        var checkname = document.getElementsByName('ck');
        if (checkid.checked)
        {
            for(var i = 0; i < checkname.length; i++)
                checkname[i].checked = true;
        }else{
            for(var i = 0; i < checkname.length; i++)
                checkname[i].checked = false;
        }
    }

    function clearAll(){
        if($('#condition').val() == ' '){
            $('#page').val('');
            $('#contents').val('');
            $('#condition').val('');

            searchAll();
        }
    }

    function user_type(){
        searchAll();
    }

</script>
<div id="main_body">
    <ul class="main_top">
        <li class="main_top_left left">
            <strong>支付管理—支付账户管理</strong>
        </li>
        <li class="main_top_right right">
        </li>
    </ul>
    <div class="main_content_rightbg">
        <div class="main_content_leftbg">
            <form id="searchForm" action="" method="get" name="searchForm" onsubmit="return checkForm();">
                {#<input type="hidden" id="priority" name="priority" value="{{ parameter.priority }}">#}
                <input type="hidden" id="page" name="page" value="{{ parameter.page }}">
                <table  width="98%" border="0" align=center cellpadding="2" cellspacing="1" bgcolor="#FFFFFF" class="border">
                    <tr>
                        <td align="center">
                            <input id="contents" type="text" name="contents" class="contents" value="{{ parameter.contents }}" placeholder="请输入..">
                            <select name="condition" id="condition" style="width: 150px;margin-left: 5px;" onchange="clearAll()">
                                <option value=" " {% if(parameter.condition == ' ') %}selected=selected{% endif %}>搜索范围(全部)</option>
                                <option value="1" {% if(parameter.condition == '1') %}selected=selected{% endif %}>搜索用户ID</option>
                                <option value="2" {% if(parameter.condition == '2') %}selected=selected{% endif %}>搜索用户名</option>
                                <option value="3" {% if(parameter.condition == '3') %}selected=selected{% endif %}>搜索联系人</option>
                                <option value="4" {% if(parameter.condition == '4') %}selected=selected{% endif %}>搜索联系电话</option>
                                <option value="5" {% if(parameter.condition == '5') %}selected=selected{% endif %}>搜索公司</option>
                            </select>
                            <input type="button" onclick="searchAll()" value="搜索">
                            <span style="font-size: 11px;color: blue;">搜索到<span  style="color: #FF0000">{{ parameter.nums }}</span>条匹配结果！</span>
                        </td>
                    </tr>
                </table>
            </form>
            <table width="98%" border="0" align=center cellpadding="2" cellspacing="1" bgcolor="#FFFFFF" class="border table_content">
                <thead>
                <th align="center" width="5%">
                    <input type='checkbox' id='checkAll' name='checkAll' onclick="checkAll()">
                </th>
                <th align="center">用户ID</th>
                <th align="center">用户名</th>
                <th align="center">总消费（￥）</th>
                <th align="center">已开发票金额（￥）</th>
                <th align="center">联系人</th>
                <th align="center">联系电话</th>
                <th align="center">公司</th>
                <th align="center">操作</th>
                </thead>
                    {% for l in list %}
                        <tr>
                            <td align="center">
                                <input type="checkbox" name='ck' value="{{l.id}}" />
                            </td>
                            <td align="center">
                                {{ l.member_id}}
                            </td>
                            <td align="center">
                                <a href="{{ path('AdminBundle_Billing_info',{'id': l.member_id}) }}">{{ l.nickname}}</a>
                            </td>
                            <td align="center">
                                {{ l.total_amount }}
                            </td>
                            <td align="center">
                                {{ l.total_invoice }}
                            </td>
                            <td align="center">
                                {{ l.contact_name }}
                            </td>
                            <td align="center">
                                {{ l.contact_number }}
                            </td>
                            <td align="center">
                                {{ l.company_name }}
                            </td>
                            <td align="center">
                                <a href="javascript:;" onclick="billingEdit({{ l.id }})">编辑</a>
                            </td>
                        </tr>
                    {% endfor %}
                <tr>
                    <td id="page" colspan="12" style="text-align: center">
                        {{ pages | raw }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <ul class="main_end">
        <li class="main_end_left left"></li>
        <li class="main_end_right right"></li>
    </ul>
</div>