<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>-.-</title>
    {#<link rel="stylesheet" href="styles/backstage.css">#}
    <link rel="stylesheet" href="{{ asset('shopImooc/admin/styles/backstage.css') }}">
    <script src="{{ asset('assets/js/jquery-1.7.2.min.js') }}"></script>
</head>

<body>
<div class="details">
    <div class="details_operation clearfix">
        <div class="bui_select">
            <input type="button" value="添&nbsp;&nbsp;加" class="add"  onclick="addAdmin()">
        </div>

    </div>
    <!--表格-->
    <table class="table" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th width="15%">编号</th>
            <th width="25%">管理员名称</th>
            <th width="30%">管理员邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% if(result) %}
            {% for t in result %}
        <tr>
            <!--这里的id和for里面的c1 需要循环出来-->
            <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label">{{ t.id}}</label></td>
            <td>{{ t.username}}</td>
            <td>{{ t.email}}</td>
            <td align="center"><input type="button" value="修改" class="btn" onclick="editAdmin({{ t.id }})"><input type="button" value="删除" class="btn"  onclick="delAdmin({{ t.id }})"></td>
        </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">

    function addAdmin(){
        window.location.href ="{{ path('AdminBundle_Admin_addAdmin') }}";
    }

    function editAdmin(id){
        window.location.href ="{{ path('AdminBundle_Admin_editAdmin') }}?id="+id;
    }

    function delAdmin(id){
        if (confirm("真的要删除吗？")){
            $.post('{{ path('AdminBundle_Admin_delAdmin') }}',{'id':id},function(data){
                if( data != 'ok'){
                    alert('删除失败！');
                    return false;
                }else{
                    alert('删除成功！');
                    window.location.reload();
                }
            });
        }else{
            return false;
        }
    }
</script>
</html>